node_modules
**/node_modules
build
**/build
.adonisjs
**/.adonisjs
coverage
**/coverage
tmp
**/tmp
storage
**/storage
.env
.env.*
!.env.example
!.env.production.example
**/.env
**/.env.*
.git
.github
.vscode
docs
*.md
.turbo
**/.turbo
